/* Módulo de Footer */
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-top: 3px solid #f1c40f;
    /* Línea dorada divisoria */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-icon img {
    width: 35px;
    /* Tamaño de los iconos */
    height: 35px;
    filter: grayscale(100%);
    /* Los ponemos en gris para que no distraigan... */
    transition: filter 0.3s, transform 0.3s;
}

.social-icon:hover img {
    filter: grayscale(0%);
    /* ...y recuperan su color al pasar el mouse */
    transform: scale(1.2);
}